/* Page */
*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* Body */
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('images/background.gif') center/cover no-repeat fixed;
}

/* Wrapper */
.container
{
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f2f2f2;
}

h2
{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 32px;
    font-family: 'Dancing Script';
    font-weight: bolder;
    color: #263dd3;
}

span
{
    margin-right: 10px;
}

label
{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto';
}

input
{
    height: 30px;
    outline: none;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 7px;
}

input:focus
{
    border: solid 1px gray;
    transition: 0.1s linear;
}

/* Password Requirements */
#password-require
{
    display: none;
    padding-left: 5px;
    padding-bottom: 10px;
    font-family: 'Roboto';
}

h4
{
    padding-bottom: 5px;
}

.valid
{
    color: green;
}

.valid:before
{
    padding-right: 10px;
    content: "✔";
}

.invalid
{
    color: red;
}

.invalid:before
{
    padding-right: 10px;
    content: "✖";
}

/* Button */
button
{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    background-color: #263dd3;
    margin: 4px;
}

button:hover
{
    background-color: #394abd;
}
